body {
  background-color: #f7f7ff;
  margin: 4% 4%;
}
main {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: auto;
  max-width: 65em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}
h1 {
  border-bottom: 1px solid #0000bf;
  color: #00003f;
}
